@model SacramentPlanner.Models.MeetingSpeaker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MeetingSpeaker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.meeting.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.meeting.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.speaker.SpeakerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.speaker.SpeakerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.speaker.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.speaker.Topic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MeetingSpeakerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
