@model IEnumerable<SacramentPlanner.Models.MeetingSpeaker>

@{
    ViewData["Title"] = "Index";
}

<h1>Link a Speaker To a Meeting</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create Link</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.meeting.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.meeting.Presiding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.meeting.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.meeting.Presiding)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.MeetingSpeakerId">Edit</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.MeetingSpeakerId">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.MeetingSpeakerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
