@model IEnumerable<SacramentPlanner.Models.Speaker>

@{
    ViewData["Title"] = "Index";
}

<h1>Create Speakers For The Meetings</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meeting.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Meeting.Date.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.SpeakerId">Edit</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.SpeakerId">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.SpeakerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
